node_modules
.git
.gitignore
dist
.output
*.md
.DS_Store
storage/*
!storage/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
public/build
public/hot
docker-compose*.yml
Dockerfile*
docker-entrypoint*.sh
Caddyfile
php.ini
